/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0px;
}
.social-buttons-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png');
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 30px;
  color: #ffffff;
  font-family: 'Bree Serif';
}
.like-button {
  color: #ffffff;
  background-color: #eab308;
  border-radius: 10px;
  font-family: Roboto;
  width: 150px;
  padding: 10px;
}
.comment-button {
  color: #323f4b;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: Roboto;
  width: 150px;
  padding: 10px;
}
.share-button {
  color: #ffffff;
  background-color: #1d4ed8;
  border-radius: 10px;
  font-family: Roboto;
  width: 150px;
  padding: 10px;
}
